<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='dark.css') }}">

</head>
<body align="center">
  <form method="post">
    <div>
      <input name="email" placeholder="Email">
    </div>
    <div>
      <input type="password" name="password" placeholder="Password">
    </div>
    <div>
      <button>Login</button>
    </div>
</form>

<p>
        Dont Have an Account?
        <a href="{{ url_for('signup') }}" class="signup-link">Sign-UP</a>
    </p>

</body>
</html>